*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}
html,body{
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}


:root{
    --white:#9e9b9b;
    --black:#202020;
    --pitchblack:black;
    --pitchwhite:#ffff;
    --darkbg:url("darkbg.jpg");
    --lightbg:url("lightbg.jpg");
}
.main{
    background: var(--darkbg);
    width: 100%;
    height: 100%;
    max-height: 100vh;
}
.dark-mode{
    --black:#b9b5b5;
    --white:#2e2e2e;
    --pitchwhite:black;
    --pitchblack:#ffff;
    background: var(--lightbg);
    /* color: black; */
}
#circle{
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    height: 1vw;
    width: 1vw;
    margin: -10px 0 0 -8px;
    background-color: rgb(252, 92, 0);
    border-radius: 50% ;
    transition: all 0.06s;
    z-index: 2;
}
.nav{
    height:10vh;
    width: 100%;
    /* background-color: rgb(41, 44, 85); */
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0;
}
.nleft{
    margin-left: 5vw;
    font-family: 'Protest Guerrilla', sans-serif;
    font-size: 1.5rem;
    color:  rgb(194, 89, 129);
    letter-spacing: 1px;

}
.nright{
    display: flex;
    align-items: center;
    color: var(--pitchwhite);
    gap: 1vw;
    margin-right: 1vw;
    font-size: 1.4rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 200;
    letter-spacing: 1px;
    margin-right: 3vw;
}
.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: var(--pitchwhite);
    margin: 6px 0;
    transition: 0.4s;
}
.change .bar1 {
    transform: translate(0, 11px) rotate(-45deg);
}
.change .bar2 {opacity: 0;}
.change .bar3 {
    transform: translate(0, -11px) rotate(45deg);
}



.cm{margin-top: 3vh;
    width: 100%;
    display: flex;
    justify-content: center;
}
.mode{
    float: right;
    height: 24px;
    width: fit-content;
    padding: 2px 15px;
    color: var(--pitchblack);
    background-color: var(--pitchwhite);
    border: none;
    border-radius: 100px;
    font-weight: 600;
    font-size: 1rem;
}

.info-section{
    width: 100%;
    display: flex;
    flex-wrap:wrap-reverse;
    height: auto;
    justify-content: space-evenly;
}

.m-left{width: 50%;}
.myinfo{
    z-index: 1;
    position: relative;
    margin-top: 15%;
    margin-left: 15%;
    padding: 3vh;
    height: auto;
    width: 80%;
    background-color: var(--black);
    opacity: .9;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--pitchwhite);
    cursor: default;
}
.myinfo h1{
    margin: 5% 0;
    color: var(--pitchwhite);

}
.myinfo h1 span{
    color: orangered;
}
.myinfo h2{
    letter-spacing: 2px;
    font-size: 3vw;
    color: var(--pitchwhite);

}

.changing-roles{
    height: 5vw;
    margin-left: 7vw;
    margin-top: 1vw;
    padding:0;
    width: 15vw;
    overflow: hidden;
    /* background-color: red; */
    cursor: none;
}
.changing-roles span{
    background-color: rgba(23, 23, 58, 0.349);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5vw;
    width:15vw;
    font-size: 3vw;
    font-weight: 500;
    text-align: center;
}
.resume{
    margin-left: 15%;
    margin-top: 2%;
    padding: 5px 15px;
    background-color: var(--white);
    border: none;
    border-radius: 100px;
}
.resume a{
    color: var(--pitchblack);
    text-decoration: none;
    font-size: 1.2rem;
}

.m-right{
    width: 38%;
    background-color: #9e9b9b;
    /* opacity: .4; */
    height: 80vh;
    overflow: hidden;
    display: flex;
}
.m-right-text{
    background-color: red;
    width: 40%;
    height: auto;
    display: flex;
    overflow: hidden;
    flex-direction: column;
    align-items: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.m-right-text h1{
    letter-spacing: 20px;
    color: var(--pitchwhite);
    margin-top: 2.5vw;
    animation: slideabt 1.7s ease-in 0s  forwards;
}
.m-right-text p{
    padding: 0 10px;
    margin-top: 4vw;
    text-align: left;
    color:  var(--pitchwhite);
    font-size: 1.2vw;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 1px;
    transform: translateX(-100%);
    animation: slideabout .7s ease-in 1s   forwards;
}
.img-box{
    width: 60%;
    height: 100%;
    background: url("me.png");
    background-size: cover;
    float: right;
    overflow: hidden;
    animation: slideme .7s ease-in 0s   forwards;

}

@keyframes slideme {
    0%{
        transform: translate(100%,50%) scale(3);
        opacity: 0;
       }        
    100%{
        transform: translate(-10%,5%) scale(1.3);
        opacity: 1;
        
        }
}
@keyframes slideabout {
    0%{
        transform: translateX(-100%);
        opacity: 0;
       }        
    100%{
        transform: translateX(0%);
        opacity: 1;
        }
}

@keyframes slideabt {
    0%{letter-spacing: 20px;}
    50%{letter-spacing: 5px;}
    75%{letter-spacing: 10px;}
    100%{letter-spacing: 0px;}
}

.ham-page{
    height: 70%;
    width: 24%;
    background-color: rgb(32, 32, 94);
    position: absolute;
    top: 8%;
    right: 3%;
    display: none;
    /* opacity: .7; */
    padding:0;
    cursor: none;
}
.change-ham{
    display:flex;
    animation: dispham .2s ease-in  forwards;
    transition: all;
}
.ham-page-left{
    width: 25%;
    border-right: 2px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin: 0;
}
.ham-page-right{
    width: 50%;
    border-left: 2px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.hamicon{
    transform: scale(2);
}
.hamicon:hover{
    box-shadow: 1px 1px 10px var(--pitchwhite);
    transform: scale(2.3);
    border-radius: 50%;
}

.ham-page-left a{cursor: none;}
@keyframes dispham {
    0%{
        opacity: 0;
        /* transform: scale(0); */
        max-height: 0;
       }        
    100%{
        opacity: 1;
        /* transform: scale(1); */
        max-height: 80%;
        }
}
